<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">

  <!-- Section: Links  -->
  <section class="" style="background-color: #c5c5c5;">
    <div class="container">
      <div class="editing text-center text-md-start" style="background-color: #c5c5c5;">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              Exercise Assistant
            </h6>
            <p style="text-align: justify;">
              At Exercise Assistant, we're dedicated to helping you unlock your full potential. With tailored workouts,
              expert guidance, and cutting-edge technology, we're here to support you every step of the way. Join our
              community and redefine your fitness experience.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Services
            </h6>
            <p>
              <a href="/workout_info" class="text-reset">Workout</a>
            </p>
            <p>
              <a href="/yoga_info" class="text-reset">Yoga</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Follow Us
            </h6>
            <div style="display: inline-block;">
              <p style="display: inline-block; margin: 0;">
                <a href="https://www.instagram.com/"><img src="{{url_for('static', filename = 'instagram.png') }}" width="30" height="30"></a>
              </p>
              <p style="display: inline-block; margin: 0;">
                <a href="https://www.facebook.com/"><img src="{{url_for('static', filename = 'facebook.png') }}" width="30" height="30"></a>
              </p>
              <p style="display: inline-block; margin: 0;">
                <a href="https://twitter.com/login"><img src="{{url_for('static', filename = 'twitter.png') }}" width="30" height="30"></a>
              </p>
              <p style="display: inline-block; margin: 0;">
                <a href="https://in.linkedin.com/"><img src="{{url_for('static', filename = 'linkedin.png') }}" width="30" height="30"></a>
              </p>
            </div>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
            <p>
              <i class="fas fa-envelope me-3"></i>
              contact@exercisesassistant.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 91 1234567890</p>
            <p><i class="fas fa-phone me-3"></i> + 91 0987654321</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="/">Exercise Assistant</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->