<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leg Exercises</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div id="particles-js"></div>

    {% include 'nav_bar.html' %}

    <div class="container1">

        <h1>Leg Exercises</h1>

        <div class="categories1">
            <div class="category1">
                <img src="{{url_for('static', filename = 'squat1.gif') }}" style="width: 15rem; height: 10rem;"
                    alt="Category 1">
                <h2>Squat</h2>
                <p>The squat is a compound resistance training exercise that targets multiple muscle groups, primarily
                    the quadriceps, hamstrings, and glutes. It involves lowering the body by bending the knees and hips,
                    while keeping the back straight, until the thighs are parallel to the ground or lower, and then
                    returning to the starting position by pushing through the heels. Squats are considered a
                    foundational movement for building lower body strength.</p>
                <a href="/leg_exercises" class="category-link">
                    <div class="btn btn-outline-secondary btn-lg" style="padding: 20px;padding-left: 30px;padding-right: 30px;">
                        <h2>Go</h2>
                    </div>
                </a>
            </div>
            <div class="category1">
                <img src="{{url_for('static', filename = 'lung1.gif') }}" style="width: 15rem; height: 10rem;"
                    alt="Category 2">
                <h2>Lunge</h2>
                <p>The lunge is a dynamic lower body exercise that targets several muscle groups including the
                    quadriceps, hamstrings, glutes, and calves. It involves stepping forward or backward with one leg
                    while lowering the body until both knees are bent at approximately 90-degree angles, then pushing
                    back up to the starting position. Lunges improve lower body strength, stability, and balance.</p>
                <a href="/leg_exercises1" class="category-link">
                    <div class="btn btn-outline-secondary btn-lg" style="padding: 20px;padding-left: 30px;padding-right: 30px;">
                        <h2>Go</h2>
                    </div>
                </a>
            </div>
            <div class="category1">
                <img src="{{url_for('static', filename = 'calf.gif') }}" style="width: 15rem; height: 10rem;"
                    alt="Category 2">
                <h2>Calf</h2>
                <p>Calf exercises target the calf muscles, namely the gastrocnemius and soleus, which are located in the
                    back of the lower leg. These exercises typically involve movements that flex the ankle joint, such
                    as calf raises or calf presses, to engage and strengthen the calf muscles. Consistent calf exercises
                    can enhance lower leg strength, stability, and aesthetics, contributing to overall lower body
                    development and athletic performance.</p>
                <a href="/leg_exercises2" class="category-link">
                    <div class="btn btn-outline-secondary btn-lg" style="padding: 20px;padding-left: 30px;padding-right: 30px;">
                        <h2>Go</h2>
                    </div>
                </a>
            </div>
            <div class="category1">
                <img src="{{url_for('static', filename = 'gluteal.gif') }}" style="width: 15rem; height: 10rem;"
                    alt="Category 2">
                <h2>Gluteal muscles</h2>
                <p>Gluteal muscle exercises primarily target the gluteus maximus, medius, and minimus, which are located
                    in the buttocks. These exercises often involve movements like squats, lunges, hip thrusts, and glute
                    bridges, which activate and strengthen the glute muscles. Regular glute exercises can improve lower
                    body strength, power, and stability, while also enhancing overall hip function and aesthetics.
                    Strong glute muscles contribute to better posture, athletic performance, and injury prevention.</p>
                <a href="/leg_exercises3" class="category-link">
                    <div class="btn btn-outline-secondary btn-lg" style="padding: 20px;padding-left: 30px;padding-right: 30px;">
                        <h2>Go</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% include 'footer_bar.html' %}

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <script>
        particlesJS.load('particles-js', '/static/css/particles.json', function(){
            console.log('particles.json loaded...');
        });
    </script>
</body>

</html>