<!DOCTYPE html>
<html>

<body>
    <!-- Loader -->
    <div id="loader"></div>

    <div id="particles-js"></div>

    {% include 'nav_bar.html' %}

    <div class="container">
        <div class="editing">
            <div class="row text-center">
                <h1 style="text-align:center;font-size: xxx-large;">Ready to Exercise</h1>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <img src="{{url_for('static', filename = 'seated_row1.gif') }}"
                        style="width: 350px; height: 300px; float: left;" alt="Category 1">
                </div>
                <div class="col-lg-8">
                    <img src="{{ url_for('generate_frame10') }}" width="100%"
                        style="display: block; margin-left: auto; margin-right: auto;">
                    <a href="stop_video14" class="category-link">
                </div>
                <div class="row text-center">
                    <div class="btn btn-outline-secondary my-5">
                        <h2> Done </h2>
                    </div>
                    </a>

                </div>
            </div>
        </div>
    </div><br>
    {% include 'footer_bar.html' %}
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <script>
        particlesJS.load('particles-js', 'static/css/particles.json', function () {
            console.log('particles.json loaded...');
        });
    </script>

    <!-- JavaScript to hide loader when content is loaded -->
    <script>
        window.addEventListener('load', function () {
            const loader = document.getElementById('loader');
            loader.style.display = 'none';
            const content = document.getElementById('content');
            content.style.display = 'block';
        });
    </script>
</body>

</html>